body {
  position: relative;
  margin: 0;
  padding: 0;
}

main {
  padding-right: calc(1.5em - 8px);
  padding-left: calc(1.5em - 8px);

  @include breakpoint(medium) {
    padding-right: calc(3em - 12px);
    padding-left: calc(3em - 12px);    
  }
}

.main--interior {
  padding-top: 5em;

  @include breakpoint(medium) {
    padding-top: 7em;
  }
}

#fullpage {
	height: 100%;
	position: relative;
	touch-action: none;
	transform: translate3d(0px, 0px, 0px);
}

section {
  padding: 2em 0;
}

.site-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  border-width: 8px;
  border-style: solid;
  -moz-border-image: -moz-linear-gradient(left, $bubblegum 0%, $magenta 100%);
  -webkit-border-image: -webkit-linear-gradient(left, $bubblegum 0%, $magenta 100%);
  border-image: linear-gradient(to right, $bubblegum 0%, $magenta 100%);
  border-image-slice: 1;

  @include breakpoint(medium) {
    border-width: 10px;
  }

  @include breakpoint(large) {
    border-width: 12px;
  }
}

.content-wrapper {
  flex: 1;
}