/**
 * @file
 * Define your custom Sass mixins and extends here.
 * @see http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#defining_a_mixin
 */

/* ==========================================================================
   Typography grooming extends
   ========================================================================== */

/* Tight tracking */
%track-in {
  letter-spacing: -.0125em;
}

/* Open tracking */
%track-out {
  letter-spacing: .1em;
}

/* Style larger text with a tighter tracking, change weight, etc.  */
%display-type {
  @extend %track-in;
  font-weight: 700;
}

/* Style all caps with a slightly open tracking. */
%allcaps {
  @extend %track-out;
  text-transform: uppercase;
}

/* Unstyle a list */
%list--simple {
  margin: 0;
  padding: 0;
  list-style: none;
}


/* ==========================================================================
   Clearfix extend
   ========================================================================== */

/**
 * Applies a clearfix ruleset using a placeholder selector. Placeholder selectors
 * do not get compiled uless they are called - removing the nesting issues that
 * can otherwise occur with extends.
 */

.clearfix,
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


/* ==============================================================
   CSS3 transition mixin
   ============================================================== */

@mixin trans($property: all, $timing: .3s, $easing: ease) {
  transition: $property $timing $easing;
}