.hero {
  text-align: center;
  height: calc(100vh - 8px);
  display: flex;
  position: relative;
  align-items: center;

  @include breakpoint(medium) {
    min-height: calc(100vh - 10px);
  }

  @include breakpoint(large) {
    min-height: calc(100vh - 12px);
  }
}
