.main-nav {
  // width: 100%;

  li {
    font-size: 1em;
    font-family: $gotham-narrow;
    margin: 0;

    @include breakpoint(medium) {
      font-size: 1em;
      margin-left: 1em;

      .stuck & {
        font-size: .9em;
      }
    }
  }

  a:link,
  a:visited {
    @include trans();
    padding: 1em 1.5em;
    text-decoration: none;
    font-weight: 700;
    color: $dark-gray;
    position: relative;

    &::before,
    &::after {
      @include trans();
      content: '';
      width: .5em;
      height: .5em;
      display: block;
      position: absolute;
    }

    &::before {
      border-top: 3px solid transparent;
      border-left: 3px solid transparent;
      top: 0;
      left: 0;
    }

    &::after {
      border-right: 3px solid transparent;
      border-bottom: 3px solid transparent;
      bottom: 0;
      right: 0;
    }

    @include breakpoint(medium) {
      transform: translateY(0);
      padding: 0;
      margin-bottom: -10px;

      &::before {
        display: none;
      }

      &::after {
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: transparent;
        margin: 4px auto 0;
        border: 0;
        position: relative;
      }
    }
  }

  a:hover,
  a:active {
    color: $black;
    background-color: transparent;

    &::before,
    &::after {
      border-color: $rose;
    }

    @include breakpoint(medium) {
      transform: translateY(-8px);
      text-decoration: none;

      &::after {
        background-color: $bubblegum;
        border: 0;
      }
    }
  }

  svg {
    vertical-align: baseline;
  }
}

.main-nav__trigger {
  width: auto;
  margin: 5px 0 0 0;
  padding: 0;
  background-color: transparent;
  float: right;
  display: block;

  @include breakpoint(medium) {
    display: none;
  }
}

.main-nav__drawer {
  @extend %clearfix;
  width: 100%;
  overflow-y: scroll;
  display: none;
  // padding: rhythm(1) rhythm(2);
  padding: 1.5em 3em;

  &.is-open {
    display: block;
  }

  .site-header.sticky & {
    max-height: calc(100vh - 62px);
  }

  .site-header.stuck & {
    max-height: calc(100vh - 55px);
  }

  @include breakpoint(medium) {
    width: auto;
    position: relative;
    overflow-y: visible;
    display: block;
    background-color: transparent;
    padding: 0;
    z-index: 0;

    .site-header.sticky &,
    .site-header.stuck & {
      height: auto;
      top: 0;
    }
  }
}