.main-nav {

  ul {
    padding-top: 1em;

    @include breakpoint(medium) {
      padding: 0;
    }
  }

  li {
    font-size: 1em;
    font-family: $gotham-narrow;
    margin: 0;

    @include breakpoint(medium) {
      font-size: 1em;
      margin-left: 1em;

      .stuck & {
        font-size: .9em;
      }
    }
  }

  a:link,
  a:visited {
    @include trans();
    padding: 1em 0;
    text-decoration: none;
    font-weight: 700;
    color: $medium-gray;
    position: relative;

    &::after {
      @include trans();
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 3px;
      background-color: transparent;
      border: 0;
      display: block;
      position: absolute;
      top: calc(1em + 4px);
      left: 0;
    }

    @include breakpoint(medium) {
      transform: translateY(0);
      padding: 0;
      margin-bottom: -10px;

      &::after {
        margin: 4px auto 0;
        position: relative;
        top: auto;
      }
    }
  }

  a:hover,
  a:active {
    background-color: transparent;
    padding-left: 1em;
    text-decoration: none;

    &::after {
      background-color: $bubblegum;
    }

    @include breakpoint(medium) {
      transform: translateY(-8px);
      padding: 0;
    }
  }

  a:active {
    color: $black;
  }

  svg {
    vertical-align: baseline;
  }
}

.main-nav__trigger {
  width: auto;
  margin: 5px 0 0 0;
  padding: 0;
  background-color: transparent;
  float: right;
  display: block;

  @include breakpoint(medium) {
    display: none;
  }
}

.main-nav__drawer {
  @extend %clearfix;
  width: 100%;
  overflow-y: scroll;
  display: none;

  &.is-open {
    display: block;
  }

  .site-header.sticky & {
    height: calc(100vh - 62px);
  }

  .site-header.stuck & {
    height: calc(100vh - 50px);
  }

  @include breakpoint(medium) {
    width: auto;
    position: relative;
    overflow-y: visible;
    display: block;
    background-color: transparent;
    padding: 0;
    z-index: 0;

    .site-header.sticky &,
    .site-header.stuck & {
      height: auto;
      top: 0;
    }
  }
}