.project {
  aside {
    padding: 1em 0;
    margin: 0;
  }

  section {
    padding: 1em 0;
    margin: 0;
  }
}

.page-anchor {
  border-top: 1px solid $light-gray;

  &::before { 
    content: " "; 
    margin-top: -5em; 
    height: 5em; 
    visibility: hidden; 
    pointer-events: none;
    display: inline-block;
  }

  & > section:last-child {
    margin-bottom: 1em !important;
  }
}

.project-intro {
  margin-bottom: 1em !important;

  // &::after {
  //   content: '• • • • • • • • • •';
  //   text-align: center;
  //   display: block;
  //   color: $bubblegum;
  //   margin-top: 1em;
  // }

  h1 {
    margin-bottom: .25em;
  }

  h2 {
    margin-bottom: 1em;
  }

  @include breakpoint(large) {
    &::after {
      margin-top: 1.5em;
    }
  }
}

.project-label {
  font-weight: 700;
}

.project-nav {
  ul {
    margin: 0;
    padding: 0;
  }

  h2 {
    padding: 0 1rem;
    font-size: 1.2em;
    line-height: 1em;
    margin-bottom: 1em;
    font-family: $gotham-narrow;
    font-weight: 700;
    color: $medium-gray;
  }

  a:active, a:hover {
    text-decoration: underline;
  }
}
