.project {
  aside {
    padding: 1em 0;
    margin: 0;
  }

  section {
    padding: .5em 0;
    margin: 0;
    clear: both;
  }
}

.project-content {
  margin-top: 1em;

  @include breakpoint(medium) {
    margin-top: 0;
  }
}

.page-anchor {
  border-bottom: 1px solid $light-gray;
  padding-top: 0 !important;
  margin-bottom: 2em !important;
}

.project-hero {
  @include breakpoint(medium) {
    margin-bottom: 5em !important;
  }
}

.project-hero__img {
  width: 100%;
  height: 300px;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;

  @include breakpoint(medium) {
    height: 100%;
  }
}

.project-hero__content {
  padding: 1em 0;

  h1 {
    margin-bottom: .2em;
  }

  @include breakpoint(large) {
    padding: 2em 0 3em;
  }
}

.project-hero__tagline {
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 1em;
  font-family: $gotham-narrow;
  font-weight: 500;
  color: $medium-gray;

  @include breakpoint(medium) {
    font-size: 1.3em;
  }
}

.project-label {
  font-weight: 700;
}

.project-nav {
  background-color: $petal;
  padding: .5em 0;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    padding: 1rem 1.5rem;
  }

  h2 {
    padding: 1.5rem 1.5rem 1rem;
    margin: 0;
    font-size: 1.2em;
    line-height: 1em;
    font-weight: 700;
  }

  a:link, a:visited {
    font-weight: 400;
  }

  a:active, a:hover {
    text-decoration: underline;
  }

  @include breakpoint(medium) {
    padding: 1.5em;

    h2 {
      padding: 0;
      margin-bottom: 1em;
    }

    li {
      margin-bottom: 1em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      padding: 0;
    }
  }
}
