.resume {
  section {
    padding: 1em 0;
  }
}

.resume__job-header {
  a {
    font-weight: 700;
  }
}

.resume__job-location {
  // font-size: .85em;
  // font-weight: 400;
  // margin-left: .25em;
}

.resume__position {
  font-weight: 700;
  font-family: $mulish;
  color: $dark-gray;
  max-width: 100%;
  padding: 0;
  overflow-x: hidden;

  &::before {
    float: left;
    width: 0;
    white-space: nowrap;
    content: 
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
  }
}

.title {
  padding-right: 0.25em;
  background: white;
}

.dates {
  padding-left: .25em;
  float: right;
  background: white;
}

.resume__middot {
  @include breakpoint(medium) {
    display: none;
  }
}

.resume__accomplishments-list {
  margin-left: 1em;

  li {
    margin-bottom: .5em;
  }
}

.resume__skills-list {
  @extend %list--simple;
  font-size: $global-font-size;
  line-height: .9em;
  columns: 2;

  li {
    margin-bottom: 1em;
  }

  @include breakpoint(medium) {
    columns: 3;
  }
}

.resume__recognition-list {
  @extend %list--simple;

  li {
    margin-bottom: .5em;
  }
}