.resume {
  section {
    padding: 0 0 1.5em 0;
  }
}

.resume__job-header {
  a {
    font-weight: 700;
  }
}

.resume__job-location {
  font-size: .85em;
  font-weight: 400;
  margin-left: .25em;
}

.resume__position {
  font-weight: 700;
  font-family: $gotham-narrow;
  color: $dark-gray;

  @include breakpoint(large) {
    // display: flex;
    width: 100%;
    // justify-content: space-between;
    // flex-direction: row;
    // align-items: baseline;
    overflow-x: hidden;
  }

  &::after {
    float: left;
    width: 0;
    white-space: nowrap;
    content: 
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . "
    ". . . . . . . . . . . . . . . . . . . . ";
  }
}

.title {
  @include breakpoint(large) {
    padding-right: 0.25em;
    background: white;
  }
}

.dates {
  @include breakpoint(large) {
    padding-left: .25em;
    // text-align: right;
    float: right;
    white-space: nowrap;
    background: white;
  }
}

.resume__middot {
  @include breakpoint(large) {
    display: none;
  }
}

.resume__accomplishments-list {
  margin-left: 1em;

  li {
    margin-bottom: .5em;
  }
}

.resume__skills-list {
  @extend %list--simple;
  font-size: $global-font-size;
  line-height: .9em;
  columns: 2;

  li {
    margin-bottom: .25em;
  }

  @include breakpoint(large) {
    columns: 4;
  }
}

.resume__recognition-list {
  @extend %list--simple;

  li {
    margin-bottom: .5em;
  }
}