.site-header {
  @include trans();
  width: 100%;
  margin-left: -8px;
  background-color: $white-30;
  box-shadow: 0 0 30px transparentize($black, .8);

  &.sticky {
    position: fixed;
    top: 0;
    z-index: 999;
  }

  &.sticky::before,
  &.sticky::after {
    content: '';
    display: table;
  }

  &.stuck {
    @include trans();
    background-color: $white;

    .site-header__inner {
      padding-top: .75em;
    }
  }

  @include breakpoint(medium) {
    margin-left: -10px;
    background-color: $white-30;
    box-shadow: 0 0 30px transparentize($black, .8);
    padding: 1.5em 0 0.375em;

    &.stuck {
      padding: .375em 0;

      .site-header__logo {
        font-size: 1.2em;
      }

      .site-header__top-bar {
        background-color: transparent;
        padding: 0;
      }
    }
  }

  @include breakpoint(large) {
    padding: 2.25em 0 .75em;
    margin-left: -12px;
  }
}

.site-header__inner {
  @extend %clearfix;
  @include trans();
  width: 100%;
  max-width: 1600px;
  min-width: 260px; /* enforces a min-width in FF. */
  margin: 0 auto;
  padding: 1.5em 1.5em .375em;
  position: relative;

  @include breakpoint(medium) {  
    padding: 0 3em;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;

    &::after {
      display: none;
    }
  }
}

.site-header__logo {
  font-size: 1.5em;
  line-height: 1.35em;
  font-family: $mercury-display;
  font-weight: 700;
  float: left;
  display: block;

  &:link,
  &:visited {
    @include trans();
    color: $black;
    text-decoration: none;
  }

  &:hover,
  &:active {
    transform: rotate(2deg);
    background-color: transparent;
  }

  @include breakpoint(medium) {
    float: none;
  }

  @include breakpoint(large) {
    font-size: 2em;
    line-height: 1.125em;
  }
}