.site-header {
  @include trans();
  margin: -8px -8px 0 -8px;
  width: calc(100% + 16px);
  box-shadow: 0 0 30px transparentize($black, .8);

  .is-anchored & {
    background-color: $white-30;
  }

  .is-stuck & {
    background-color: $white;
  }

  @include breakpoint(medium) {
    margin: -10px -10px 0 -10px;
    width: calc(100% + 20px);
  }

  @include breakpoint(large) {
    margin: -12px -12px 0 -12px;
    width: calc(100% + 24px);
  }
}

.site-header__inner {
  @extend %clearfix;
  @include trans();
  width: 100%;
  min-width: 260px; /* enforces a min-width in FF. */
  margin: 0 auto;
  padding: 1.5em 1em .25em;
  position: relative;

  @include breakpoint(medium) {  
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;

    &::after {
      display: none;
    }

    .is-anchored & {
      padding: 1.5em 2em .25em 2em;
    }

    .is-stuck & {
      padding: calc(.5em + 10px) 2em .25em 2em;
    }
  }

  @include breakpoint(large) {  

    .is-anchored & {
      padding: 2em 3em .25em 3em;
    }

    .is-stuck & {
      padding: calc(.5em + 10px) 3em .25em 3em;
    }
  }

  @include breakpoint(xlarge) {
    max-width: 1600px;
  }
}

.site-header__logo {
  font-size: 1.5em;
  line-height: 1.35em;
  font-family: $mercury-display;
  font-weight: 700;
  float: left;
  display: block;

  &:link,
  &:visited {
    @include trans();
    color: $black;
    text-decoration: none;
  }

  &:hover,
  &:active {
    transform: rotate(2deg);
    background-color: transparent;
  }

  @include breakpoint(medium) {
    float: none;

    .is-stuck & {
      font-size: 1.2em;
    }
  }

  @include breakpoint(large) {
    font-size: 2em;
    line-height: 1.5em;
  }
}