.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}

.site-header {
  @include trans();
  margin: -8px -8px 0 -8px;
  width: calc(100% + 16px);

  @include breakpoint(medium) {
    margin: -10px -10px 0 -10px;
    width: calc(100% + 20px);
  }

  @include breakpoint(large) {
    margin: -12px -12px 0 -12px;
    width: calc(100% + 24px);
  }
}

.site-header__inner {
  @extend %clearfix;
  @include trans();
  width: 100%;
  min-width: 260px; /* enforces a min-width in FF. */
  margin: 0 auto;
  padding: 1.25em 1.5em .75em 1.5em;
  box-shadow: 0 0 30px transparentize($black, .8);

  &.is-anchored {
    background-color: $white-30;
  }

  &.is-stuck {
    background-color: $white;
  }

  @include breakpoint(medium) {

    &::after {
      display: none;
    }

    &.is-anchored {
      padding: 1.5em 2em 1em 2em;
    }

    &.is-stuck {
      padding: calc(.5em + 8px) 2em .5em 2em;
    }
  }

  @include breakpoint(large) {  

    &.is-anchored {
      padding: 2em 3em 1em 3em;
    }

    &.is-stuck {
      padding: calc(.5em + 8px) 3em .5em 3em;
    }
  }

  @include breakpoint(xlarge) {
    max-width: 1600px;
  }
}

.site-header__title-bar {
  justify-content: space-between;
  flex-direction: row;
  align-items: baseline;
}

.menu-icon {
  margin: 0;
  background: transparent;
  display: block;
  width: auto;
  padding: .5em;

  &::after{
    height: 0;
    background: transparent;
    box-shadow: none;
  }
}

.site-header__top-bar {
  height: calc(100vh - 68px);
  border: 1px solid blue;

  &.position-top {
    top: 68px;
  }

  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
  }
}

.site-header__logo {
  font-family: $mercury-display;
  font-weight: 700;
  font-size: 1.5em;

  @include breakpoint(medium) {
    font-size: 2em;

    .is-stuck & {
      font-size: 1.5em;
    }
  }

  &:link,
  &:visited {
    @include trans();
    color: $black;
    text-decoration: none;
  }

  &:hover,
  &:active {
    transform: rotate(2deg);
    background-color: transparent;
  }
}