---
layout: default
title: Resume

job:
  - 
    company: Aon
    url: https://www.aon.com/home/index.html
    city: Chicago
    state: IL
    titles: 
      child: 
        title: Senior UI/UX Designer
        startDate: 2019
        endDate: present
        accomplishments:
          - Define the user experience of e-commerce insurance websites for markets in Singapore, Hong Kong, China, and Thailand.
          - Identify and advocate for user needs in overseas markets.
  - 
    company: Palantir.net
    url: https://www.palantir.net/
    city: Chicago
    state: IL
    titles: 
      child: 
        title: Web Designer
        startDate: 2016
        endDate: 2018
        accomplishments:
          - Lead the visual and UI design of large scale Drupal websites for healthcare and education institutions.
          - Built in-browser living style guides to document atomic components and UI patterns for both clients and developers.
          - Presented design deliverables, ran brainstorming exercises, and held meetings with client teams to educate them about the design process, facilitate dialogue, and solicit feedback.
          - Developed processes to improve Section 508 compliance, educated clients and colleagues about accessibility, and contributed to the development of WCAG 2.1 and Silver guidelines.
  - 
    company: Sidley Austin
    url: https://www.sidley.com
    city: Chicago
    state: IL
    titles:
      child:
        title: Production Designer
        startDate: 2014
        endDate: 2016
        accomplishments:
          - Redesigned recruiting materials for London and Hong Kong offices.
          - Produced the annual pro bono report, in collaboration with marketing professionals, partners, and vendors.
  - 
    company: Top Shelf Design
    url: https://topshelfdesign.net/
    city: Arlington
    state: VA
    titles:
      - child:
        title: Lead Graphic Designer
        startDate: 2013
        endDate: 2014
        accomplishments:
          - Art directed and oversaw projects spanning two to six months from conception to execution by interfacing with designers, developers, copywriters, and print houses.
          - Guided clients through the creative process, providing direction tailored to individual goals and constraints.
      - child:
        title: Graphic Designer
        startDate: 2011
        endDate: 2013
        accomplishments:
          - Designed websites, identity, and print pieces for nonprofits, think tanks, government contractors, lobbying groups, and startups.
          - Directed the internship program, including hiring, mentoring, and managing them.

skills:
  - Accessibility
  - Adobe CC
  - Atomic Design
  - CSS and SCSS
  - Git
  - HTML
  - Invision
  - jQuery
  - Pattern Lab
  - Principle
  - Sketch
  - Twig

recognitions:
  - Bachelor of Fine Arts from Washington University in St. Louis, 2009
  - Winner of the <a href="http://gdusa.com/">Graphic Design USA American Package Design Awards</a> Food + Beverage Category, 2014

---

<article class="resume">
  <div class="grid-container full">
    <div class="grid-x">
      <div class="cell medium-6 medium-offset-3">
        <h1>Resume</h1>
        <section aria-labelledby="section-label-a">
          <h2 id="section-label-a">Professional Experience</h2>
          {{>resume-job-desc}}
        </section>
        <section aria-labelledby="section-label-c">
          <h2 id="section-label-c">Skills</h2>
          <ul class="resume__skills-list">
            <!-- {% for skill in page.skills %}
            <li>{{skill}}</li>
            {% endfor %} -->
          </ul>
        </section>
        <section aria-labelledby="section-label-b" class="resume__section">
          <h2 id="section-label-b">Education and Recognition</h2>
          <ul class="resume__recognition-list">
            <!-- {% for recognition in page.recognitions %}
            <li>{{recognition}}</li>
            {% endfor %} -->
          </ul>
        </section>
      </div>
    </div>
  </div>
</article>