<!-- decorative bubbles for homepage -->

<div class="bubbles-wrapper">
  <span class="bubble bubble-a bubble--50"></span>
  <span class="bubble bubble-b bubble--35"></span>
  <span class="bubble bubble-c bubble--35"></span>
  <span class="bubble bubble-d bubble--20"></span>
  <span class="bubble bubble-e bubble--20"></span>
  <span class="bubble bubble-f bubble--10"></span>
  <span class="bubble bubble-g bubble--50"></span>
  <span class="bubble bubble-h bubble--25"></span>
  <span class="bubble bubble-i bubble--25"></span>
  <span class="bubble bubble-j bubble--20"></span>
  <span class="bubble bubble-k bubble--35"></span>
  <span class="bubble bubble-l bubble--15"></span>
  <span class="bubble bubble-m bubble--10"></span>
  <span class="bubble bubble-n bubble--10"></span>
</div>