<section aria-label="introduction" class="hero js-section">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-8 medium-offset-2 hero__desc">
        <h1>Designer with an affinity for the bold and expressive. Developer turning concepts into code. Typography nerd and accessible-design crusader.</h1>
        <a class="hero__scroll" href="#home-main">
        	<i aria-hidden class="fas fa-angle-down" title="scroll down"></i> <span class="sr-only">scroll down</span> 
        </a>
      </div>
    </div>
  </div>
</section>