<section class="project-intro">
  <div class="grid-container full">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-4 large-6">
        <div class="project-hero" style="background-image: url('{{root}}/assets/img/{{heroimg}}');">
          <div class="project-image__fade"></div>
        </div>
      </div>
      <div class="cell medium-8 large-6">
        <div class="project-intro__content">
          <h1>{{title}}</h1>
          <h2>{{tagline}}</h2>
          <p>{{description}}</p>
          <p><span class="project-label">Clients include: </span>{{clients}}</p>
          <p><span class="project-label">Users: </span>{{users}}</p>
          <p><span class="project-label">My Role:</span> {{roles}}</p>
        </div>
      </div>
    </div>
  </div>
</section>