<section class="project-intro">
  <div class="grid-container full">
    <div class="grid-x">
      <div class="cell medium-4">
      </div>
      <div class="cell medium-8">
        <h1>{{title}}</h1>
        <h2>{{tagline}}</h2>
        <p>{{description}}</p>
        <p><span class="project-label">Clients include: </span>{{clients}}</p>
        <p><span class="project-label">Users: </span>{{users}}</p>
        <p><span class="project-label">My Role:</span> {{roles}}</p>
      </div>
    </div>
  </div>
</section>