<figure class="project-image">
	<div class="project-image__inner {{classes}}">
		<button class="button project-image-reveal-button" data-toggle="{{img}}">
			<span class="fas fa-expand" title="View image at larger size"></span>
		</button>
		{{#ifequal style 'fade'}}
		<div class="project-image__fade"></div>
		{{/ifequal}}
		<img src="{{root}}/assets/img/{{projectFolder}}/{{img}}.png" alt="{{alt}}" />
	</div>
	<figcaption>{{caption}}</figcaption>
</figure>

<div class="large reveal project-image-modal" id="{{img}}" data-reveal>
	<figure class="project-image">
		<div class="project-image__inner {{classes}}">
			{{#ifequal style 'fade'}}
			<div class="project-image__fade"></div>
			{{/ifequal}}
			<img src="{{root}}/assets/img/{{projectFolder}}/{{img}}.png" alt="{{alt}}" />
		</div>
		<figcaption>{{caption}}</figcaption>
	</figure>
  <button class="close-button" data-close aria-label="Close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>