<section class="project__intro">
  <div class="grid-container full">
    <div class="grid-x">
      <div class="cell large-8 large-offset-2 medium-10 medium-offset-1">
        <h1>{{title}}</h1>
        <h2>{{tagline}}</h2>
        <p>{{description}}</p>
        <p><span class="project__label">Clients include: </span>{{clients}}</p>
        <p><span class="project__label">Users: </span>{{users}}</p>
        <p><span class="project__label">My Role:</span> {{roles}}</p>
      </div>
    </div>
  </div>
</section>