{{#each job}}
	<h3 class="resume__job-header">
		<a href="{{job.url}}">{{company}}</a> 
		<span class="resume__job-location">
			{{#ifequal remote 'no'}}{{city}}, {{state}}{{/ifequal}}
			{{#ifequal remote 'yes'}}Remote{{/ifequal}}
		</span>
	</h3>
	{{#each titles}}
		<div class="resume__position">
			<span class="title">
				{{title}}
			</span>
			<span class="dates">
				{{startDate}}
				{{#if endDate}}
				&ndash; {{endDate}}
				{{/if}}
			</span>
		</div>

		<ul class="resume__accomplishments-list">
		  {{#each accomplishments}}
		    <li>{{.}}</li>
		  {{/each}}
		</ul>
	{{/each}}
{{/each}}