<header data-sticky-container class="site-header">
  <div class="sticky" data-sticky data-options="marginTop:0;" data-margin-top="0" data-sticky-on="small">

    <div class="site-header__inner">
    
      <div class="title-bar site-header__title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
        <!-- Logo -->
        <a class="site-header__logo" href="index.html">
          Michellanne Li
        </a>
        <!-- Open/close button -->
        <button class="menu-icon hamburger hamburger--squeeze" data-toggle>
          <span class="show-for-sr">Menu</span>
          <span class="hamburger-box"><span class="hamburger-inner"></span></span>
        </button>
      </div>

      <div class="top-bar site-header__top-bar" id="main-menu">
        <!-- Logo -->
        <a class="site-header__logo show-for-medium" href="index.html">
          Michellanne Li
        </a>
        <!-- Menu -->
        <nav class="main-nav">
          <ul class="menu vertical medium-horizontal">
            <li><a href="about.html">About</a></li>
            <li><a href="resume.html">Resume</a></li>
             <li><a href="thoughts.html">Thoughts</a></li>
            <li><a href="portfolio.html">Portfolio</a></li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</header>

