<header data-sticky-container class="site-header">
  <div class="site-header__inner sticky" data-sticky data-margin-top="0" data-sticky-on="small">
    
    <div class="title-bar site-header__title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
      <a class="site-header__logo--small" href="index.html">
        Michellanne Li
      </a>
      <button class="menu-icon hamburger hamburger--squeeze" type="button" data-toggle="main-menu">
        <span class="show-for-sr">Menu</span>
        <span class="hamburger-box"><span class="hamburger-inner"></span></span>
      </button>
    </div>

    <div class="top-bar site-header__top-bar" id="main-menu" data-animate="hinge-in-from-top spin-out">
      <a class="site-header__logo--medium hide-for-small-only" href="index.html">
        Michellanne Li
      </a>
      <nav class="main-nav">
        <ul class="menu vertical medium-horizontal">
          <li><a href="about.html">About</a></li>
          <li><a href="resume.html">Resume</a></li>
           <li><a href="thoughts.html">Thoughts</a></li>
          <li><a href="portfolio.html">Portfolio</a></li>
        </ul>
      </nav>
    </div>

  </div>
</header>