<header class="site-header sticky">
  <div class="site-header__inner">
    <a class="site-header__logo" href="{{root}}index.html">
      Michellanne Li
    </a>
    <nav class="main-nav">
      <button class="main-nav__trigger hamburger hamburger--squeeze" aria-expanded="false" aria-controls="nav-drawer">
        <span class="show-for-sr">menu</span>
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="main-nav__drawer" id="nav-drawer">
        <ul class="menu medium-align-right vertical medium-horizontal">
          <li><a href="{{root}}about.html">About</a></li>
          <li><a href="{{root}}resume.html">Resume</a></li>
          <li><a href="{{root}}thoughts.html">Thoughts</a></li>
          <li><a href="{{root}}portfolio.html">Portfolio</a></li>
        </ul> 
      </div>
    </nav>
  </div>
</header>