{{!-- This is the base layout for your project, and will be used on every page unless specified. --}}

<!doctype html>
<html class="no-js" lang="en">
{{> head}}
<body>
  <div class="site-wrapper">
      <div class="overlay"></div>

      {{#ifpage 'index'}}
        {{> bubbles}}
      {{/ifpage}}

      <div class="content-wrapper">
        <a class="element-focusable" href="#main">Skip to Main Content</a>
        {{> site-header}}

        <!-- Template content -->
        <main id="main" {% if page.title != 'Home' %}class="main--interior"{%endif%}>
          {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}
          {{> body}}
        </main>
      </div>

      {{> site-footer}}
    </div>
<script src="{{root}}assets/js/app.js"></script>
</body>
</html>
