<!DOCTYPE html>
<html lang="en-US">
  {{> head}}
  <body>
    <div class="site-wrapper">
      <div class="overlay"></div>

      <div class="content-wrapper">
        <a class="element-focusable" href="#main">Skip to Main Content</a>
        {{> site-header}}

        <!-- Template content -->
        <main id="main">
          <article aria-labelledby="section-label-g">
            <div class="container--wide">
              <div class="l-1up">
                <h1 id="section-label-g">{{page.title}}</h1>
                <div class="gallery">
                  {{> body}}
                </div>
              </div>
            </div>
          </article>
        </main>
      </div>
      {{> site-footer}}
    </div>
    <script src="{{root}}assets/js/app.js"></script>
    <!-- sticky header -->
    <script src="{{root}}assets/js/stickyfill.min.js"></script>
    <!-- custom script -->
    <script src="{{root}}assets/js/site.js"></script>
  </body>
</html>